/*
  Atomic css
*/

/* Typography */
.a-serif {
  font-family: 'Georgia';
}

.a-sans {
  font-family: 'Avenir Next', 'Lato', Helvetica;
}

.a-right {
  text-align: right;
}
.a-left {
  text-align: left;
}
.a-center {
  text-align: center;
}

.a-bold {
  font-weight: 700;
}

.a-bolder {
  font-weight: 900;
}

.a-b0 {
  border: none;
}
.a-ba {
  border: black solid thin;
}
.a-bb {
  border-bottom: black solid thin;
}

/* Display */

.a-inline {
  display: inline;
}
.a-block {
  display: block;
}
.a-flex {
  display: flex;
}
.a-stretch-content {
  justify-content: stretch;
}
.a-grow-1 {
  flex-grow: 1;
}

.a-m1 {
  margin: 1rem;
}
.a-mv1 {
  margin-height: 1rem;
  margin-bottom: 1rem;
}
.a-mh1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.a-mb1 {
  margin-bottom: 1rem;
}
.a-mt1 {
  margin-top: 1rem;
}
.a-ml1 {
  margin-left: 1rem;
}
.a-mr1 {
  margin-right: 1rem;
}

.a-p1 {
  padding: 1rem;
}
.a-pv1 {
  padding-height: 1rem;
  padding-bottom: 1rem;
}
.a-ph1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.a-pb1 {
  padding-bottom: 1rem;
}
.a-pt1 {
  padding-top: 1rem;
}
.a-pl1 {
  padding-left: 1rem;
}
.a-pr1 {
  padding-right: 1rem;
}

/*
  Button styles
*/
.hr-button {
  font-size: 10px;
  background: #2A8CFF;
  font-family: 'Avenir Next', 'Lato', Helvetica;
  font-weight: 500;
  padding: 5px 10px;
  color: white;
  border-radius: 20px;
}

.hr-button:hover {
  background: #277ce0;
}

.hr-button.sm-style-big {
  font-size: 12px;
  padding: 5px 20px;
  border-radius: 20px;
}

.sg-actions {
  text-align: right;
  padding: 20px;
}

.sg-actions > .hr-button {
  display: inline-block;
  margin-left: 10px;
}

.hr-button.sm-secondary {
  background: #606060;
}

.hr-button.sm-secondary:hover {
  background: #404040;
}
