/*
  Atomic css
*/

/* Typography */
.a-right {
  text-align: right;
}
.a-left {
  text-align: left;
}
.a-center {
  text-align: center;
}

/* Display */

.a-inline {
  display: inline;
}
.a-block {
  display: block;
}

.a-m1 {
  margin: 1rem;
}

/*
  Button styles
*/
.hr-button {
  font-size: 10px;
  background: #2A8CFF;
  font-family: 'Avenir Next', 'Lato', Helvetica;
  font-weight: 500;
  padding: 5px 10px;
  color: white;
  border-radius: 20px;
}

.hr-button:hover {
  background: #277ce0;
}

.hr-button.sm-style-big {
  font-size: 12px;
  padding: 5px 20px;
  border-radius: 20px;
}

.sg-actions {
  text-align: right;
  padding: 20px;
}

.sg-actions > .hr-button {
  display: inline-block;
  margin-left: 10px;
}

.hr-button.sm-secondary {
  background: #606060;
}

.hr-button.sm-secondary:hover {
  background: #404040;
}
