/*
  Atomic css
*/

/* Typography */
.serif { font-family: 'Georgia', serif; }
.sans { font-family: 'Avenir Next', 'Lato', Helvetica, sans-serif; }
.mono { font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace; }

/* size */

.f1 { font-size: 3rem; }
.f2 { font-size: 2.25rem; }
.f3 { font-size: 1.5rem; }
.f4 { font-size: 1.25rem; }
.f5 { font-size: 1rem; }
.f6 { font-size: .875rem; }
.f7 { font-size: .75rem; }

/* alignment */

.tl  { text-align: left; }
.tr  { text-align: right; }
.tc  { text-align: center; }
.tj  { text-align: justify; }

/* weight */

.w100 { font-weight: 100; }
.w200 { font-weight: 200; }
.w300 { font-weight: 300; }
.w400 { font-weight: 400; }
.w500 { font-weight: 500; }
.w600 { font-weight: 600; }
.w700 { font-weight: 700; }
.w800 { font-weight: 800; }
.w900 { font-weight: 900; }

/* Borders */

.a-b0 {
  border: none;
}
.a-ba {
  border: black solid thin;
}
.a-bb {
  border-bottom: black solid thin;
}

/* border-radius */

.br0 {        border-radius: 0; }
.br1 {        border-radius: .125rem; }
.br2 {        border-radius: .25rem; }
.br3 {        border-radius: .5rem; }
.br4 {        border-radius: 1rem; }
.br-pill {    border-radius: 9999px; }

/* Display */

.a-inline {
  display: inline;
}
.a-block {
  display: block;
}
.a-flex {
  display: flex;
}

.a-stretch-content {
  justify-content: stretch;
}
.a-grow-1 {
  flex-grow: 1;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.mw-main { max-width: 760px }
