/*
  Atomic css
*/

/* Typography */
.serif { font-family: 'Georgia', serif; }
.sans { font-family: 'Avenir Next', 'Lato', Helvetica, sans-serif; }
.mono { font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace; }


.faa {
  display: inline-block;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* size */

.f1 { font-size: 3rem; }
.f2 { font-size: 2.25rem; }
.f3 { font-size: 1.5rem; }
.f4 { font-size: 1.25rem; }
.f5 { font-size: 1rem; }
.f6 { font-size: .875rem; }
.f7 { font-size: .75rem; }

/* alignment */

.tl  { text-align: left; }
.tr  { text-align: right; }
.tc  { text-align: center; }
.tj  { text-align: justify; }

/* weight */

.fw100 { font-weight: 100; }
.fw200 { font-weight: 200; }
.fw300 { font-weight: 300; }
.fw400 { font-weight: 400; }
.fw500 { font-weight: 500; }
.fw600 { font-weight: 600; }
.fw700 { font-weight: 700; }
.fw800 { font-weight: 800; }
.fw900 { font-weight: 900; }

/* Borders */

.a-b0 {
  border: none;
}
.a-ba {
  border: black solid thin;
}
.a-bb {
  border-bottom: black solid thin;
}

/* border-radius */

.br0 {        border-radius: 0; }
.br1 {        border-radius: .125rem; }
.br2 {        border-radius: .25rem; }
.br3 {        border-radius: .5rem; }
.br4 {        border-radius: 1rem; }
.br-pill {    border-radius: 9999px; }

/* Display */

.a-inline {
  display: inline;
}
.a-block {
  display: block;
}
.table {
  display: table;
}
.table-cell {
  display: table-cell;
}
.a-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.abs {
  position: absolute;
}
.rel {
  position: relative;
}

.z-1000 {
  z-index: 1000;
}
.z-max {
  z-index: 2147483647;
}

.top-0 {
  top: 0;
}

.a-stretch-content {
  justify-content: stretch;
}
.a-grow-1 {
  flex-grow: 1;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}
.vh-100 {
  height: 100vh;
}

.v-mid {
  vertical-align: middle;
}

.mw-main { max-width: 760px }
