/*
  These are style to override default styling in Substance for descriptive buttons
*/

.sc-tool-group button.sc-menu-item {
  width: auto;
  color: white;
  padding: 0 0.6rem;
  margin: 0.25rem;
  background-color: var(--gray);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 9999px;
}

.sc-tool-group button.sc-menu-item:not([disabled]) {
  background-color: var(--blue);
}

.sc-tool-group button.sc-menu-item:hover:not([disabled]) {
  background-color: var(--dark-blue);
}

.sc-tool-group button.sc-menu-item[disabled]:hover {
  background-color: var(--gray);
  cursor: initial;
}

.sc-tool-group button.sc-menu-item .se-keyboard-shortcut {
  color: var(--black);
  display: none
}

/*
  Atomic css
*/

/* Typography */
.serif { font-family: 'Georgia', serif; }
.sans { font-family: 'Avenir Next', 'Lato', Helvetica, sans-serif; }
.mono { font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace; }
.sc-paragraph { font-family: 'Georgia', serif; }
.sc-list-item { font-family: 'Georgia', serif; }

.faa {
  display: inline-block;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* size */

.f1 { font-size: 3rem; }
.f2 { font-size: 2.25rem; }
.f3 { font-size: 1.5rem; }
.f4 { font-size: 1.25rem; }
.f5 { font-size: 1rem; }
.f6 { font-size: .875rem; }
.f7 { font-size: .75rem; }

/* alignment */

.tl  { text-align: left; }
.tr  { text-align: right; }
.tc  { text-align: center; }
.tj  { text-align: justify; }

/* weight */

.fw100 { font-weight: 100; }
.fw200 { font-weight: 200; }
.fw300 { font-weight: 300; }
.fw400 { font-weight: 400; }
.fw500 { font-weight: 500; }
.fw600 { font-weight: 600; }
.fw700 { font-weight: 700; }
.fw800 { font-weight: 800; }
.fw900 { font-weight: 900; }

/* Borders */

.a-b0, .b0 {
  border: none;
}
.a-ba {
  border: black solid thin;
}
.a-bb {
  border-bottom: black solid thin;
}

.ba { border-style: solid; border-width: 1px; }
.bt { border-top-style: solid; border-top-width: 1px; }
.br { border-right-style: solid; border-right-width: 1px; }
.bb { border-bottom-style: solid; border-bottom-width: 1px; }
.bl { border-left-style: solid; border-left-width: 1px; }
.bn { border-style: none; border-width: 0; }

.bw0 { border-width: 0; }
.bw1 { border-width: .125rem; }
.bw2 { border-width: .25rem; }
.bw3 { border-width: .5rem; }
.bw4 { border-width: 1rem; }
.bw5 { border-width: 2rem; }

/* Resets */
.bt-0 { border-top-width: 0; }
.br-0 { border-right-width: 0; }
.bb-0 { border-bottom-width: 0; }
.bl-0 { border-left-width: 0; }

/* border-radius */

.br0 {        border-radius: 0; }
.br1 {        border-radius: .125rem; }
.br2 {        border-radius: .25rem; }
.br3 {        border-radius: .5rem; }
.br4 {        border-radius: 1rem; }
.br-pill {    border-radius: 9999px; }

/* Display */

.a-inline {
  display: inline;
}
.a-block {
  display: block;
}
.table {
  display: table;
}
.table-cell {
  display: table-cell;
}
.a-flex, .flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.fixed {
  position: fixed;
}

.z-1000 {
  z-index: 1000;
}
.z-max {
  z-index: 2147483647;
}

.top-0 {
  top: 0;
}

.a-stretch-content, .stretch-content {
  justify-content: stretch;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.a-grow-1, .grow-1 {
  flex-grow: 1;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}
.vh-100 {
  height: 100vh;
}

.v-mid {
  vertical-align: middle;
}

.mw-main {
  max-width: 600px;
}

.listOfLists {
  list-style: none;
}

.break-all {
  word-break: break-all;
}

.nowrap {
  white-space: nowrap;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }

    .sc-scroll-pane.sm-default-style > .se-scrollable {
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
    }
    h1, h2, h3, p, a, li {
      page-break-inside: avoid;
    }
}
